---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime";
import type { CollectionEntry } from "astro:content";
import classes from "./Card.module.css";
import Tag from "@components/Tag";
import {
  IconSunset2,
  IconBrandGithub,
  IconArrowRight,
  IconStar,
  IconDeviceDesktop,
} from "@tabler/icons-react";

export interface Props {
  slug: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
}

const { frontmatter, slug } = Astro.props;
const imageSize = 70;
---

<li class="card" transition:name={slug}>
  {
    frontmatter.logo && (
      <img
        class="image"
        src={frontmatter.logo.src}
        width={imageSize}
        height={imageSize}
        alt={frontmatter.title}
      />
    )
  }

  {/* <IconSunset2 size={120} /> */}

  <div class="content">
    <a href={`/posts/${slug}` ?? "/"} class="heading-link">
      <h2
        style={{
          color: frontmatter.themeColor ?? undefined,
        }}
      >
        {frontmatter.title}
      </h2>
    </a>

    <p>{frontmatter.description}</p>

    <div class="tags">
      {frontmatter.tags.map(tag => <Tag tag={tag} />)}
    </div>
  </div>

  <div class="actions">
    {
      frontmatter.isInProgress ? (
        <p class="in-progress color-accent">[in progress]</p>
      ) : (
        <>
          <a
            href={frontmatter.sourceURL}
            target="_blank"
            class="link-button row accent"
          >
            <IconBrandGithub /> Source
          </a>
          <a
            href={frontmatter.liveURL}
            target="_blank"
            class="link-button row accent"
          >
            <IconDeviceDesktop /> Live
          </a>
        </>
      )
    }
  </div>
</li>

<style>
  .card {
    padding: 30px 0;
    position: relative;
  }

  .content {
    h2 {
      font-size: 24px;
      font-family: var(--font-body);
      font-weight: 600;
      letter-spacing: -0.8px;
      color: rgba(var(--color-accent));
      margin-bottom: 0px;
      display: inline-block;
    }
    p {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 1100px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .heading-link {
    &:hover h2 {
      transform: translateY(-2px);
    }
  }
  @media (max-width: 1100px) {
    .heading-link {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .image {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);

    margin-right: 40px;
    border-radius: 500px;

    /* padding: 6px; */
    /* border: 2px dotted; */

    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
    }
  }

  @media (max-width: 1100px) {
    .image {
      position: relative;
      right: auto;
      top: auto;
      transform: none;

      margin: 0 auto 10px;
    }
  }

  .actions {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  @media (max-width: 1100px) {
    .actions {
      position: relative;
      left: auto;
      top: auto;
      transform: none;

      justify-content: center;
      margin-top: 20px;
    }
  }

  .in-progress {
    margin-left: 10px;
    white-space: nowrap;
  }
</style>
